- a = 5
- b = -14
- c = 17

%h2 Вводные данные
%h4 перменная a = #{a}
%h4 перменная b = #{b}
%h4 перменная c = #{c}

- d = b ** 2 + 4 * a * c

%h4 дикреминант = #{d}

- math.sqrt 9
- dsqr = math.sqrt d
- x1 = (b * -1 + dsqr) / 2 * a
- x2 = (b * -1 - dsqr) / 2 * a
